 body {
    margin: 0;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    background: linear-gradient(120deg, #ff512f, #dd2476);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
 }